body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
header {
    background-color: #057858;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px 0 28px;
}

li {
    list-style: none;
    color: white;
    padding-top: 8px;
}

li:hover{
    font-weight: 600;
}
ul {
    display: flex;
    gap: 20px;
}

.lienh {
    text-decoration: none;
    color: white;
}

.boutonh {
    padding: 9px 12px 9px 12px;
    background-color: #DB2727;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    gap: 5px;
    font-size: 15px;
}

.boutonh:hover {
    background-color: #e25959;
}

.image1 {
    width: 100%;
    height: 467px;
    object-fit: cover;
    filter: brightness(0.5);
    
}



h1 {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%); /*A noter pour la responsive */
    font-size: 60px;
    color: white;
    white-space: nowrap; /* A noter pour pas que le texte va à la ligne */
}

.textAccueil {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    white-space: nowrap;
}

.h2-1 {
    text-align: center;
    margin-top: 40px;
}

.div2 {
    margin: 30px 180px 55px 180px;
    border-radius: 6px;
    box-shadow: 2px 5px 9px 1px rgba(49,49,49,0.3);
    padding: 30px 30px 30px 30px;
    
    
}

.les3{
    justify-content: space-between;
    flex-direction: column (3,1fr);
    display: flex;
}

.box1, .box2, .box3 {
    border: 2px solid #E6E7EB;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 53px 10px 53px;
    background-color: white;
}

.box1:hover, .box2:hover, .box3:hover {
    border: 2px solid #2FB584;
    border-radius: 4px;
    background-color: #EDFEF6;
}

.euros {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: -10px;

}

.p1 {
    color: #7c7c7c;
}

.les3Boutons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    padding-top: 31px;
}

.boutonAnnee {
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    
}

.boutonAnnee:hover {
    background-color: #0CB981;
    color: white;
    cursor: pointer;
}

.longBouton {
    display: flex;
    justify-content: center;
    padding-top: 31px;
}

.longBoutonRouge {
    padding: 12px 320px 7px 320px;
    background-color: #DB2727;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    gap: 5px;
    font-size: 15px;
}

.longBoutonRouge:hover {
    background-color: #e25959;
}

.section3 {
    background-color: #E8FDF1;
    padding: 55px 0 55px 0px;
    display: flex;
    justify-content: center;
}

.notreMission {
    
    padding: 30px 55px 30px 40px;
    background-color: white;
    box-shadow: 2px 5px 9px 1px rgba(49,49,49,0.3);
    border-radius: 0 15px 15px 0;
    margin: 0 20px 0 0;
}

.imageMission {
    border-radius: 15px 0 0 15px;
    margin-left: 20px;
}

.p2 {
    color: #7c7c7c;
    
}

.section4{
    padding: 0 55px 0 55px;
}

.h2-3 {
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
}

.imageLuna {
    width: 100%;
    height: 467px;
    object-fit: cover;
    filter: brightness(0.5);
    border-radius: 15px;
}

.description {
    position: absolute;
    transform: translate(0, -104%);
    color: white;

    
    
}

.pAnnee {
    font-size: 12px;
    color: rgb(198, 198, 198);
}

.h5-1 {
    font-size: 20px;
    
}