body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
header {
    background-color: #057858;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px 0 28px;
}

li {
    list-style: none;
    color: white;
    padding-top: 8px;
}

li:hover{
    font-weight: 600;
}
ul {
    display: flex;
    gap: 20px;
}

.lienh {
    text-decoration: none;
    color: white;
}

.boutonh {
    padding: 9px 12px 9px 12px;
    background-color: #DB2727;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    gap: 5px;
    font-size: 15px;
}

.boutonh:hover {
    background-color: #e25959;
}

.image1 {
    width: 100%;
    height: 467px;
    object-fit: cover;
    filter: brightness(0.5);
    
}



h1 {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%); /*A noter pour la responsive */
    font-size: 60px;
    color: white;
    white-space: nowrap; /* A noter pour pas que le texte va à la ligne */
}

.textAccueil {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    white-space: nowrap;
}

.h2-1 {
    text-align: center;
    margin-top: 40px;
}

.div2 {
    margin: 30px 180px 55px 180px;
    border-radius: 6px;
    box-shadow: 2px 5px 9px 1px rgba(49,49,49,0.3);
    padding: 30px 30px 30px 30px;
    
    
}

.les3{
    justify-content: space-between;
    flex-direction: column (3,1fr);
    display: flex;
}

.box1, .box2, .box3 {
    border: 2px solid #E6E7EB;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 53px 10px 53px;
    background-color: white;
}

.box1:hover, .box2:hover, .box3:hover {
    border: 2px solid #2FB584;
    border-radius: 4px;
    background-color: #EDFEF6;
}

.euros {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: -10px;

}

.p1 {
    color: #7c7c7c;
}

.les3Boutons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    padding-top: 31px;
}

.boutonAnnee {
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    
}

.boutonAnnee:hover {
    background-color: #0CB981;
    color: white;
    cursor: pointer;
}

.longBouton {
    display: flex;
    justify-content: center;
    padding-top: 31px;
}

.longBoutonRouge {
    padding: 12px 320px 7px 320px;
    background-color: #DB2727;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    gap: 5px;
    font-size: 15px;
}

.longBoutonRouge:hover {
    background-color: #e25959;
}

.section3 {
    background-color: #E8FDF1;
    padding: 55px 0 55px 0px;
    display: flex;
    justify-content: center;
}

.notreMission {
    
    padding: 30px 55px 30px 40px;
    background-color: white;
    box-shadow: 2px 5px 9px 1px rgba(49,49,49,0.3);
    border-radius: 0 15px 15px 0;
    margin: 0 20px 0 0;
}

.imageMission {
    border-radius: 15px 0 0 15px;
    margin-left: 20px;
}

.p2 {
    color: #7c7c7c;
    
}

.section4{
    padding: 0 55px 40px 55px;
}

.h2-3 {
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
}

.imageLuna {
    width: 100%;
    height: 467px;
    object-fit: cover;
    filter: brightness(0.7);
    border-radius: 15px;
}

.description {
    position: absolute;
    transform: translate(3%, -104%);
    color: white;
}

.pAnnee {
    font-size: 12px;
    color: rgb(198, 198, 198);
}

.h5-1 {
    font-size: 20px;
    
}

.imagePrincipale {
    padding-bottom: 10px;
}



.tabLuna, .tabOscar, .tabMax {
    
    object-fit: cover;
    margin-left: -3px;
    margin-right: 17px;
    border-radius: 15px;
    filter: brightness(0.5);
}

.tabLuna:hover, .tabOscar:hover, .tabMax:hover {
    border: 4px solid #1dffb4;
}

.luna {
    position: absolute;
    top: 338%;
    left: 17%;
    font-size: 23px;
    color: white;
}

.oscar {
    position: absolute;
    top: 338%;
    left: 48%;
    font-size: 23px;
    color: white;
}

.max {
    position: absolute;
    top: 338%;
    left: 79%;
    font-size: 23px;
    color: white;
}

.section5 {
    background-color: #E8FDF1;
    
}

.h2-4 {
    display: flex;
    justify-content: center;
    padding: 60px 0 30px 0;
}

.question1, .question2, .question3 {
    margin: 0px 180px 30px 180px;
    border-radius: 11px;
    box-shadow: 2px 5px 9px 1px rgba(49,49,49,0.3);
    padding: 10px 25px 20px 25px;
    background-color: white;
}

.h3-q {
    margin-bottom: 30px;
}

.divBoutons {
    display: flex;
    justify-content: center;
    gap: 13px;
    
    
}

.vrai {
    
    padding: 10px 146px 10px 16px;
    border: none;
    border-radius: 6px;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    
}



.faux {
    padding: 10px 380px 10px 16px;
    border: none;
    border-radius: 6px;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
}

.vrai:hover {
    background-color: rgba(49,49,49,0.5);
    color: white;
}

.faux:hover {
    background-color: rgba(49,49,49,0.5);
    color: white;
}

.h2-5 {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.tousLesIcons {
    display: flex;
    justify-content: space-between;
    margin: 40px 150px 10px 100px;
    text-align: center;
    padding-bottom: 80px;
    
    
}

.pIcons {
    color: #7c7c7c;
    font-size: 12px;
    
}

.h2-6 {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.divTemoignage {
    display: flex;
    
}

figure {
    
    border-radius: 6px;
    box-shadow: 2px 5px 9px 1px rgba(49,49,49,0.3);
    
    
}

.section6 {
    margin-bottom: 40px;
}

.imgT {
    display: block;
    border-radius: 6px 6px 0 0;
}

.f2 {
    font-weight: 700;
    margin: 20px 20px 33px 20px;
}

.f1 {
    margin: 20px 30px 20px 20px;
    color: #7c7c7c;
    font-weight: 600;
}

footer {
    padding: 13px 29px 13px 29px;
    background-color: #1F2937;
    color: white;
}

.dFooter {
    display: flex;
    gap: 180px;
}

.env {
    display: flex;
    justify-content: space-between;
}

.iconEmail {
    padding-top: -20px;
}

.cFooter {
    margin-left: -120px;
}


